@use "@/styles/definitions/font-family" as family;

$mobile: (
  header-1: 500 1.25rem 2rem family.$font,
  header-2: 500 1.125rem 2rem family.$font,
  body: 400 1rem 1.5rem family.$font
);

$tablet: (
  header-1: 500 1.5rem 2rem family.$font,
  header-2: 500 1.25rem 2rem family.$font,
  body: 400 1rem 1.5rem family.$font
);

$desktop: (
  header-1: 500 1.5rem 2rem family.$font,
  header-2: 500 1.25rem 2rem family.$font,
  body: 400 1rem 1.5rem family.$font
);
