/// Adds the standard focus outline styling
/// Usage: `.class:focus { @include outline.focus(); }`
@mixin focus(
  $offset: -3px,
  $width: 3px,
  $color: rgb(var(--dark-grey)),
  $shade: 5
) {
  outline-width: $width;
  outline-style: solid;
  outline-color: $color;
  outline-offset: $offset;

  // TODO #1700 remove this once https://bugs.webkit.org/show_bug.cgi?id=246192 is CLOSED
  @supports (-webkit-hyphens: none) {
    outline: none;
    border: $width solid $color;
  }
}
