@use "@/styles/definitions/shadow-maps" as *;

@mixin low {
  box-shadow: map-get($shadows, low-inner), map-get($shadows, low-outer);
}

@mixin low-pressed {
  box-shadow: map-get($shadows, low-inner), map-get($shadows, low-pressed);
  transform: translateY(2px);
}
